html{
    --light-green: #B7ECDD;
    --dark-green: #1B8E6E;
}

.go-back{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0.4rem;
    right: 4rem;
    cursor: pointer;
    border-radius: 40%;
    padding: 16px;
    background-color: white;
}

.go-back img{
    width: 2rem;
    margin: 6px;
}

@media (max-width: 650px){
    .go-back {
        padding: 0;
        top: 1rem;
        right: 1rem;
    }
    .go-back .text{
        display: none;
    }
}
